@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&family=Roboto+Mono&display=swap');
*{
    padding: 0;
    margin: 0;
}

/* PROGRESS */
/*
* Flyout Navigation Bar
*/
#navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255,247,231);
    z-index: 4;
  }
  
  .dropdown-nav__closeNavBtn {
    position: absolute;
    top: 20px;
    right: 16px;
    background-color: rgbA(255,255,255,0.6);
  }
  
  .dropdown-nav__container {
    height: 100vh;
    padding: 0 1rem;
  }
  .menu{
    left: 50%;
  }
  header a:hover {
    color: #fff;
  }
  .navbar-brand {
    font-family: poppins;
    font-weight: bolder;
    color : white;
  }
/* header */
.header_progress{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)), url(hero.png) ;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: white;
    overflow: hidden;
}

.text_header_progress{
    padding-top: 260px;
}
.heading{
    font-family: poppins;
    font-size: 50px;
    font-weight: bolder;
    line-height: 90px;
}
.sub-heading {
    font-family: roboto mono;
    font-size: 15px;
    line-height: 26px;
}
/* main */
.main_progress{
    background-color: #DDD6CD;
    overflow: hidden;
}

.main_progress .text1{
    font-size: 17px;
    font-family: roboto mono;
    line-height: 23px;
}
.main_progress .text2{
    font-size: 17px;
    font-family: roboto mono;
    line-height: 23px;
}
.main-link a{
    position: relative;
    font-family: poppins;
    font-size: 18px;
    color: black;
    font-weight: bolder;
    text-decoration: none;
    padding-bottom: 5px;
}
.main-link a::after{
    content: "";
    position: absolute;
    background-color: #000;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
} 

.main-link a:hover{
    color: black;
}
.main-link a:hover::after{
    width: 100%;
}
/* kegiatan */
.kegiatan{
    background-color: #DDD6CD;
    width: 100%;
    height: auto;
}

/* footer */
.footer_progress{
    width: 100%;
    height: auto;
    background-color: #1A1E21;
    color: white;
}
.footer_progress .text1{
    text-align: center;
    width: 100%;
    padding-bottom: 70px;
    border-bottom: 1px solid #DDD6CD;
}
.footer_progress .text1 p{
    font-family: roboto mono;
    line-height: 23px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
}
.footer_progress .text1 a{
    position: relative;
    font-family: poppins;
    font-size: 18px;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    padding-bottom: 5px;
}
.footer_progress .text1 a::after{
    content: "";
    position: absolute;
    background-color: #fff;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.footer_progress .text1 a:hover::after{
    width: 100%;
}

.footer_progress .text2 {
    display: flex;
    align-items: center;
    font-family: poppins;
    font-size: 12px;
}
.footer_progress.no1{
    display: flex;
    align-items: center;
}
.footer_progress .no1 span{
    font-weight: bolder;
}
.footer-link{
    display: inline-block;
}
.footer_progress  ul li {
    display: inline-block;
    padding-left: 25px;
}
.footer_progress  ul li a{
    color: white;
    text-decoration: none;
    font-family: roboto mono;
}
.footer_progress  img{
    width: 55px;
}




/* ABOUT */
/* navbar */
.about{
    background-color: #DDD6CD;
    overflow: hidden;

}
.navbar_about{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 0 100px;
    font-family: poppins;
    color: white;
}
.navbar_about img{
    width: 60px;
}
.navbar_about h1{
    font-weight: bolder;
    font-size: 35PX;
}
.navbar_about a{
    text-decoration: none;
    font-size: 25px;
    color: white;
}
/* main */
.text-about{
    border-bottom: 1px solid black;
}
.text_about1 h1{
    padding-top: 140px;
    font-family: poppins;
    font-size: 30px;
    font-weight: bolder;
}
.text_about1 p{
    padding-top: 140px;
    font-family: roboto mono;
    font-size: 17px;
}

.text_about2 h1{
    padding-top: 80px;
    font-family: poppins;
    font-size: 30px;
    font-weight: bolder;
}
.text_about2 p{
    padding-top: 80px;
    font-family: roboto mono;
    font-size: 17px;
}
.text_about3{
    padding-top: 80px;

}
.text_about3 p{
    font-family: roboto mono;
    font-size: 17px;
}
.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .image-wrapper {
    margin: 0 auto;
  }
  .image-wrapper img {
    width: 223px;
    height: 100%;
    object-fit: cover;
  }
  .card {
    margin: 0 0.5em;
    background: none;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
  }
.card img{

    width: 70%;
    height: 100%;
    object-fit: fill;
} 
.carousel-indicators [data-bs-target]{
    background-color: #000 !important;
}
  .carousel-inner {
    padding: 1em;
  }
  @media (max-width: 768px) {
    .card img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
  }

@media (max-width: 575.98px) { 
    .text_about1 h1{
        padding-top: 140px;
        font-family: poppins;
        font-size: 30px;
        font-weight: bolder;
    }
    .text_about1 p{
        padding-top: 0;
        font-family: roboto mono;
        font-size: 17px;
    }
    .text_about2 h1{
        padding-top: 80px;
        font-family: poppins;
        font-size: 30px;
        font-weight: bolder;
    }
    .text_about2 p{
        padding-top: 0px;
        font-family: roboto mono;
        font-size: 17px;
    }
    .text_about3{
        padding-top: 0px;
    }
}

/* KEGIATAN */
/* header */
.kegiatan{
    background-color: #DDD6CD;
    overflow: hidden;
}
.text1_kegiatan{
    padding: 140px 0;
    font-family: poppins;
}
.text1_kegiatan img{
    height: 70px;
    
}
.text1_kegiatan span{
    font-family: roboto mono;
}
.text1_kegiatan h1{
    font-size: 30px;
    font-weight: bolder;
}
.text1_kegiatan p{
    font-family: roboto mono;
    font-size: 17px;
}
.kegiatan .hero1{
    padding-bottom: 50px;
}
.kegiatan .hero2{
    padding-bottom: 50px;
}
.kegiatan .hero2 img{
    width: 549px;
}
.link_kegiatan{
    display: flex;
    justify-content: center;
    background-color: #DDD6CD;
    padding: 20px 0 100px 0;
}
.link_kegiatan ul {
    list-style-type: none;
}
.link_kegiatan a{
    color: black;
    font-family: poppins;
    font-weight: 400;
    text-decoration: none;
}
.text1_link_kegiatan{
    border-right: 1px solid black;
    padding-right: 10px;
}
.text2_link_kegiatan{
    padding-left: 10px;
}
@media (max-width: 575.98px){
    .text1_kegiatan{
        padding: 0px 0;
        font-family: poppins;
    }
    .text1_kegiatan img{
        height: 70px;  
    }
    .text1_kegiatan p{
        padding-top: 0px;
        font-family: roboto mono;
        font-size: 17px;
    }

}

/* PROFILE UKM */

/* profile */
.profile_ukm{
    background-color: #DDD6CD;
}
.text_profile{

}
.text_profile1{
    text-align: justify;
    padding-top: 100px;
}

.text_profile1 h1{
    font-family: poppins;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 20px;
}
.text_profile1 p{
    font-family: roboto mono;
    font-size: 15px;
}
.text_profile2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
}
.text_profile2 img{
    width: 450px;
}
.text_profile2 h1{
    font-family: poppins;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 20px;
}
.text_profile2 p{
    font-family: roboto mono;
    width: 500px;
    font-size: 20px;
}
.text_profile3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
}
.text_profile3 img{
    width: 450px;
}
.text_profile3 h1{
    font-family: poppins;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 20px;
}
.text_profile3 p{
    font-family: roboto mono;
    width: 500px;
    font-size: 20px;
}
.text_profile4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;
}
.text_profile4 img{
    width: 450px;
}
.text_profile4 h1{
    font-family: poppins;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 20px;
}
.text_profile4 p{
    font-family: roboto mono;
    width: 500px;
    font-size: 20px;
}

/* CONTACT */
.contact{
    width: 100%;
    height: 100vh;
    background-color: #1A1E21;
    padding: 80px 0;
    overflow: hidden;
    color: white;
    border-bottom: 1px solid white;
}

/* text contact us */
.h1_contact_us{
    font-size: 55px;
    font-family: poppins;
    font-weight: bold;
    padding: 90px 0 0px 0px;
}

.contact_phone_email p{
    font-family: roboto mono;
    padding-bottom: 50px;
}

.contact_phone_email span{
    font-family: poppins;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
}
.contact_find_us p{
    font-family: roboto mono;
}
.contact_find_us span{
    font-family: poppins;
    font-size: 17px;
    font-weight: bold;
}

